<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
           "DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
 <head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="$root/css/default.css" />
  <link rel="stylesheet" type="text/css" href="$root/css/syntax.css" />
  <title>FOP - $title</title>
 </head>
 <body>
  <div class="structure" id="header">
   <h1><a href="index.html">FOP</a> - $title</h1>
  </div>
  <div class="structure" id="container">
   <div id="primary-contents">
    <div id="box">
     $body
    </div>
   </div>
   <div id="secondary-contents">
    <div id="navigation">
     <div id="lastupdate">Last update : $date</div>
     <a href="$root/index.html">先頭ページ</a>&nbsp;|&nbsp;<a href="$root/static/errata.html">正誤表</a>
     <ol start="1">
      <li><a href="$root/chap01.html">二分ヒープ木の楽しみ</a></li>
      <li><a href="$root/chap02.html">仕様に基づくテスト</a></li>
      <li><a href="$root/chap03.html">おりがみプログラミング</a></li>
      <li><a href="$root/chap04.html">Haskellで音楽を記述し解釈する</a></li>
      <li><a href="$root/chap05.html">融合変換を自動化する</a></li>
      <li><a href="$root/chap06.html">金融取引契約の書き方</a></li>
      <li><a href="$root/chap07.html">関数画像</a></li>
      <li><a href="$root/chap08.html">Lava: 関数によるハードウェアの記述</a></li>
      <li><a href="$root/chap09.html">論理プログラミングのためのコンビネータ</a></li>
      <li><a href="$root/chap10.html">アローと計算</a></li>
      <li><a href="$root/chap11.html">もっと整ったプリティプリンタ</a></li>
      <li><a href="$root/chap12.html">ファントム型を楽しむ</a></li>
     </ol>
     <a href="http://web2.comlab.ox.ac.uk/oucl/publications/books/fop/">原書サポートサイト</a>
    </div>
     <a href="http://www.sampou.org/cgi-bin/haskell.cgi?Books%3aFOP%3aBugReport">翻訳書バグ報告</a>
   </div>
  </div>
  <div id="footer" class="structure">
   &copy; 2010-2012 Nobuo Yamashita all rights reserved.
  </div>
 </body>
</html>
